<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Algo2Trade_Data_Tester.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Algo2Trade_Data_Tester.My.MySettings>
            <setting name="ComboBoxIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dbConnectionLocalNetwork" serializeAs="String">
                <value>server=DESKTOP-RIO;database=local_stock;port=3306;user id=rio;password=speech123;defaultcommandtimeout=180;pooling=True;minpoolsize=2;maxpoolsize=5;useaffectedrows=False;allowuservariables=True</value>
            </setting>
            <setting name="dbConnectionRemote" serializeAs="String">
                <value>server=103.220.208.5;database=local_stock;port=3306;user id=rio;password=speech123;defaultcommandtimeout=180;pooling=True;minpoolsize=2;maxpoolsize=5;useaffectedrows=False;allowuservariables=True</value>
            </setting>
            <setting name="dbConnectionLocal" serializeAs="String">
                <value>server=localhost;database=local_stock;port=3306;user id=rio;password=speech123;defaultcommandtimeout=180;pooling=True;minpoolsize=2;maxpoolsize=5;useaffectedrows=False;allowuservariables=True</value>
            </setting>
            <setting name="Live" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>False</value>
            </setting>
        </Algo2Trade_Data_Tester.My.MySettings>
    </userSettings>
</configuration>